<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera_adapter">
  <xacro:macro name="camera_adapter_urdf" params="prefix:='' attach_to:='' attach_xyz:='0 0 0' attach_rpy:='0 0 0' mass:='0.05'">
    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}camera_adapter_fix" type="fixed">
        <parent link="${attach_to}"/>
        <child link="${prefix}camera_adapter_link"/>
        <origin xyz="${attach_xyz}" rpy="${attach_rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}camera_adapter_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${mass}" />
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="1.57079632679 0 0" />
        <geometry>
          <mesh filename="${mesh_path}/end_tool/visual/camera_adapter.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}White" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="1.57079632679 0 0" />
        <geometry>
          <mesh filename="${mesh_path}/end_tool/collision/camera_adapter.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
